*{
    margin: 0px;
    font-family: Helvetica;
}
nav{
    background-color: #482E2E;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    padding: 20px 40px;
}
.links{
    color: wheat;
    list-style: none;
    display: flex;
    gap: 30px;
}
.links li a{
    text-decoration: none;
    color: wheat;
    font-size: 18px;
    transition: color 0.3s, transform 0.2s;
}
.links li a:hover {
    color: #ffcc66;
    transform: scale(1.1);
}
.derechoLogo h3{
    color: wheat;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

main .secciones .carrusel{
    background: #F0E0D8;
    display: flex;
    margin: 30px;
    border-radius: 10px;
}
main .secciones .imagen img{
    width: 700px;
    border-radius: 10px;
}
main .secciones .detalles{
    width: 100%;
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: column;

}
main .secciones .detalles h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}
main .secciones .detalles p{
    text-align: justify;
}
main .secciones .detalles .botones{
    margin-top: auto;    
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
main .secciones .detalles .botones input[type="submit"]{
    padding: 15px 40px 15px 40px;
    background: #A86457;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 17px;
}
main .secciones .detalles .botones input[type="submit"]:nth-child(1){
    background: #A86457;
    color: white;
}
main .secciones .detalles .botones input[type="submit"]:nth-child(2){
    background: black; 
    color: white;
}
main .secciones .detalles .botones input[type="submit"]:hover:nth-child(1){
    background: white;
    color: #A86457;
}
main .secciones .detalles .botones input[type="submit"]:hover:nth-child(2){
    background: white;
    color: black;
}
footer{
    background: black;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    margin-top: 20px;
}
footer .descripcion{

    width: 800px;
}
footer .enlaces ul li{
    list-style: none;
    padding: 5px 0px 5px 0px;
}
footer .enlaces ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
footer .enlaces ul li a:hover{
    color: #A86457;
}
footer .descripcion p{
    color: white;
    text-align: justify;
}
footer .descripcion h3{
    color: white;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}