* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    background: #F6F0EE;
}
nav{
    background-color: #482E2E;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    padding: 20px 40px;
}
.links{
    color: wheat;
    list-style: none;
    display: flex;
    gap: 30px;
}
.links li a{
    text-decoration: none;
    color: wheat;
    font-size: 18px;
    transition: color 0.3s, transform 0.2s;
}
.links li a:hover {
    color: #ffcc66;
    transform: scale(1.1);
}
.derechoLogo h3{
    color: wheat;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.titulo {
    font-size: 30px;
    text-align: center;
    padding-top: 67px;
}
.cuerpo p {
    padding: 20px;
    text-align: center;
}

.container {
    width: 80%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

    .izquierdo, .derecho {
      width: 48%;
      margin-bottom: 20px;
    }

    .container h3 {
      margin-bottom: 8px;
      font-size: 16px;
    }

    input[type="text"] {
      width: 100%;
      height: 35px;
      border-radius: 8px;
      outline: none;
      border: 1px solid grey;
      padding: 5px 10px;
      font-size: 15px;
    }

    input[type="text"]:focus {
      border-color: white;
      box-shadow: 0 0 10px #A86457;
    }
    
    .detalles {
      width: 80%;
      margin: 0 auto 40px auto;
      border-radius: 10px;
    }

    .detalles h3 {
      margin-bottom: 10px;
      text-align: left;
    }

    textarea {
      width: 100%;
      height: 100px;
      border-radius: 8px;
      border: 1px solid grey;
      outline: none;
      padding: 10px;
      font-size: 15px;
      resize: none;
    }

    textarea:focus {
      border-color: white;
      box-shadow: 0 0 10px #A86457;
    }
 .boton{
      display: flex;
      justify-content: center;
      
    }
    .boton input[type="submit"]{
      width: 100px;
      margin-bottom: 30px;
      padding: 10px 15px;
      background: #A86457;
      color: white;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      
    }
    .boton input[type="submit"]:hover{
      background: white;
      color: #A86457;
    }

footer{
    background: black;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    margin-top: 20px;
}
.descripcion{

    width: 800px;
}
footer .enlaces ul li{
    list-style: none;
    padding: 5px 0px 5px 0px;
}
footer .enlaces ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
footer .enlaces ul li a:hover{
    color: #A86457;
}
footer .descripcion p{
    color: white;
    text-align: justify;
}
footer .descripcion h3{
    color: white;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

   